extends layout

block content
  .container.clearfix-header
    h1 Manage Room: #{room.name}
    .col-md-8
      .panel.panel-primary
        .panel-heading Shared files
        .panel-body
          form(onsubmit="onFileUpload()" method="post", action="/files/upload" enctype="multipart/form-data")
            input(type="hidden" name="roomId" value="")#roomId
            .form-group
              label Title
              input.form-control(type="text", name="title", placeholder="Enter file title")
            .form-group
              label File
              input.form-control(type="file", name="upl")
            .form-group
              input.form-control(type="submit", value="Upload")
          .table-responsive
            table.table
              thead
                tr
                  th Title
                  th File Name
                  th Downloaded
              tbody
                if files
                  each file, i in files
                    tr
                      td
                        a(href="/files/#{file.filename}") #{file.title}
                      td #{file.originalName}
                      td #{file.createdAt}
    .col-md-4
      .panel.panel-primary
        .panel-heading Participants
        .panel-body
          #participantAdder
        .list-group
          if participants
            each participant, i in participants
              .list-group-item #{participant.name}
  script(src='../js/react/participant-adder.js')
  script(src='../js/room.js')